*{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
}
.LeftSIdeNavigationBar{
  width: 50px;
  height: 96.8vh;
  background-color: rgb(6, 6, 27);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 0;

}
.leftssidehead img{
  width: 35px;
  height: 35px;
  cursor: pointer;
 
}
.middleSideNavigationBar img{
  width: 35px;
}
.middleSideNavigationBar{
  display: flex;
  flex-direction: column;

  gap: 15px;
  position: fixed;
  top: 140px;
}
.endingNavigationpart img{
  width: 35px;
  
}
.iconholder{
  display: flex;
  color: black;
  gap: 10px;
  align-items: center;

  transition: ease 1.5s;
}
.iconholder h3{
  opacity: 0;
  color: white;
  font-weight: 500;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}
.endingNavigationpart{
  display: flex;
  gap: 15px;
  color: white;
  white-space: nowrap;
  align-items: center;
}
.header{
  width: 93.5%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  transition: width 0.3s ease;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  justify-content: space-between;
}
.search_div input{
  width: 220px;
  height: 35px;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
  border: none;
  background-color: white;
}
.search_div {
  display: flex;
  align-items: center;
  justify-content: center;

}
.searchBtn{
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 58, 224);
  color: white;
}
.profile img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  }
  .profile_minue{
    width: 120px;
    height: 90px;
    position: fixed;
    right: 10px;
   
    box-shadow: 1px 1px 5px;
    border-radius: 2px;
    top: 53px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: none;
  }
  .upper_minue img{
    width: 15px;
    height: 15px;
  }
  .upper_minue{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    height: 10px;
  
  }
  .upper_minue:hover{
    background-color: rgb(161, 160, 160);
  }
  .adminDashBoarder{
    width: 92.5%;
    height: 93%;
    top: 7%;
    right: 0;
    border-color: black;
    position: fixed;
    transition: ease 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .title h2{
    font-size: 27px;
    font-weight: 500;
  }
  .infoCard{
    width: 350px;
    height: 130px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .infoCard:hover{
    transform: scale(0.97);
    background-color: rgb(173, 173, 173);
  }
  .infoCard:active{
    transform: scale(0.95);
    background-color: rgb(138, 138, 138);
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: green;
    font-size:3rem ;
    height: 80%;
    font-weight: 700;
  }
  .money{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: green;
    font-size:3rem ;
    height: 80%;
    font-weight: 700;

  }
  .addmember{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: green;
    font-size:3rem ;
    height: 80%;
    font-weight: 700;
  }
  table , th, td{
    border: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: rgb(172, 172, 172);
  }
  table{
    width: 100%;
    background-color: rgb(230, 230, 230);
  }
  .insertInformation{
    width: 600px;
    height: 350px;
    position: fixed;
    left: 25%;
    top: 20%;
    padding: 10px;
    box-shadow: 2px 2px 10px gray;
    background-color: rgb(16, 16, 27);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-radius: 6px;
    display: none;
  }
  .infoinput{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .infoinput input{
    width: 250px;
    padding-top: 4px;
    border: solid;
    height: 30px;
    border-color: white;
    outline: none;
    font-size: 16px;
    border-width: 1px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
  }
  .insertInformation button{
    width: 130px;
    background-color: green;
    color: white;
    height: 35px;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
  }
  #update{
    width: 130px;
    background-color: yellow;
    color: white;
    height: 35px;
    transition: ease 0.3s;
    cursor: pointer;
    border: none;
  }
  #update:hover{
    transform: scale(0.98);
    background-color: rgb(170, 170, 5);
  }
  #submite:hover{
    transform: scale(0.98);
    background-color: rgb(2, 80, 2);
  }
  #update:active{
    transform: scale(0.96);
    background-color: rgb(78, 78, 2);
  }
  #submite:active{
    transform: scale(0.96);
    background-color: rgb(2, 46, 2);
  }
  .closeBtn{
    height: 35px;
    width: 30px;
    color: white;
    background-color: red;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -15px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .closeBtn:hover{
    transform: scale(0.97);
    background-color: rgb(168, 5, 5);
  }
  .closeBtn:active{
    transform: scale(0.95);
    background-color: rgb(88, 3, 3);
  }
  td{
    padding-left: 5px;
  }
  #edit{
    width: 100px;
    height: 30px;
    background-color: yellow;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  #edit:hover{
    transform: scale(0.98);
    background-color: rgb(148, 148, 2);
  }
  #edit:active{
    transform: scale(0.96);
    background-color: rgb(75, 75, 1);
  }
  #delete{
    width: 100px;
    height: 30px;
    background-color: red;
    border: none;
    border-radius:4px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
  }
  #delete:hover{
    transform: scale(0.98);
    background-color: rgb(180, 3, 3);
  }
  #delete:active{
    transform: scale(0.95);
    background-color: rgb(102, 3, 3);
  }