body{
                display: flex;
                flex-direction: column;
            }
            .header{
                width: 93.7%;
                height: 55px;
                padding-left: 40px;
                padding-right: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                box-shadow: 1px 1px 6px gray;
                background-color: white;
            }
            *{
                margin: 0;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           
            }
            .leftSideHeaderDiv{
                color: rgb(255, 186, 57);
                     font-size: 1.7rem;
            }
            .middlesideHeaderDiv{
                display: flex;
                justify-content: center;
                gap: 30px;
            }
            .rightSideHeaderDiv img{
                width: 30px;
                cursor: pointer;
            }
              .rightSideHeaderDiv img:hover{
                transform: scale(0.95);
                background-color: rgb(253, 202, 107);
                border-radius: 4px;
            }
             .rightSideHeaderDiv img:active{
                transform: scale(0.92);
                background-color: rgb(255, 166, 0);
                border-radius: 4px;
            }
            .sign_in img{
                width: 20px;
                filter: invert(1) brightness(2)
            }
            .sign_in{
                width: 110px;
                padding-top: 8px;
               padding-bottom:8px;
                background-color: orange;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 6px;
                color: white;
                cursor: pointer;
                transition: ease 0.2s;
            }
            .rightSideHeaderDiv{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .sign_in:hover{
                transform: scale(0.97);
                background-color: rgb(184, 120, 3);
            }
              .sign_in:active{
                transform: scale(0.95);
                background-color: orange;
              }
              .home{
                width: 98.5vw;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
              }
              .leftSide h1{
                font-size: 3.7rem;
              }
              .rightSide img{
                width: 450px;
              }
              .leftSide p{
                color: rgb(58, 58, 58);
                margin-top: 30px;
              }
              .orderNow{
                width: 100px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-radius: 6px;
                background-color: orange;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                cursor: pointer;
                transition: 0.3s ease;
              }
              .bottomSide{
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
              }
              .social_media{
                width: 35px;
                height: 35px;
                background-color: rgb(255, 224, 168);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                cursor: pointer;
                transition: ease 0.3s;
              }
              .social_media img{
                width: 20px;
                height: auto;
              }
              .social_media:hover{
                transform: scale(0.96);
                  background-color: rgb(153, 135, 101);
              }
               .social_media:active{
                transform: scale(0.93);
                  background-color: rgb(27, 24, 19);
              }
              .orderNow:hover{
                transform: scale(0.97);
                background-color: rgb(187, 121, 0);
              }
              .orderNow:active{
                transform: scale(0.95);
                background-color: rgb(59, 39, 1);
              }
              .ourService{
                height: 98.5vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
              .ourService p{
                color: orange;
                font-size: 1.2rem;
                text-align: center;
              }
              .ourserviceHeader h1{
                font-size: 3.4rem;
                text-align: center;
              }
              .serviceHolderCard{
                width: 390px;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;
                gap: 13px;
              }
              .serviceHolderCard img{
                width: 80px;
              }
              .serviceHolder{
                display: flex;
                align-items: center;
              }
              .minuCard{
                width: 230px;
                height: 320px;
                border: solid;
                border-radius: 10px;
                border-color: orange;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
              .minu{
                width: 100vw;
                height: 150vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                 }
                 .uperminuDiv p{
                  color: orange;
                  font-size: 1.2rem;
                 }
                 .uperminuDiv h1{
                  font-size: 3rem;
                 }
                 .uperminuDiv{
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                 }
                 .minuCard img{
                  width: 150px;
                 }
                 .addtocard{
                  width: 100px;
                  padding-top: 7px;
                  padding-bottom: 7px;
                  background-color: orange;
                  color: white;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 6px;
                  cursor: pointer;
                 }
                 .details{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 12px;
                 }
                 .details h3{
                  color: orange;
                 }
                 .minuCardHolder{
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  gap: 25px;
                  margin-top: 40px;
                 }
                 .about_us{
                  width: 100vw;
                  height: 100vh;
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  gap: 30px;
                  
                 }
                 .about_usImg img{
                  width: 500px;
                 }
                 .comment_header p{
                  color: orange;
                 }
                 .comment_header h1{
                  font: 2.7rem;
                 }
                 .comment_header{
                  display: flex;
                  flex-direction:column;
                 }
                 .profile_name img{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  object-fit: cover;
                 }
                 .profile_name{
                  display: flex;
                  gap: 10px;
                  align-items: center;
                 }
                 .comment{
                  width: 500px;
                 }
                 .order{
                  width: 100vw;
                  height: 100vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                 }
                 .orderDiv{
                  width: 80vw;
                  height: 80vh;
                  background-color: rgb(248, 225, 183);
                  border-radius: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 30px;
                 }
                 .orderImg img{
                  width: 300px;
                 }
                 .orderDetails p{
                  color: orange;
                  font-size: 1.2rem; ;
                 }
                 .orderDetails h1{
                  font-size: 2.6rem;
                 }
                 .orderDetails h4{
                  color: gray;
                  font-weight: 100;
                 }
                 .orderDetails {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                 }
                 .orderDetails button{
                  width: 100px;
                  border: none;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  background-color: orange;
                  border-radius: 6px;
                  color: white;
                  transition: ease 0.3s;
                  cursor: pointer;
                 }
                 .orderDetails button:hover{
                  transform: scale(0.98);
                  background-color: rgb(151, 99, 2);
                 }
                  .orderDetails button:active{
                  transform: scale(0.95);
                  background-color: rgb(94, 61, 1);
                 }
                 .our_subscribe{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 98.5vw;
                  height: 80vh;
                  gap: 30px;
                 }
                 .subscibe_header p{
                  color: orange;
                 }
                 .subscibe_header{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                 }
                 .subscibe_header h1{
                  font-size: 3rem;
                 }
                 .emailInput{
                  width: 500px;
                  height: 45px;
                  box-shadow: 1px 2px 10px gray;
                  border-radius: 6px;
                  display: flex;
                  align-items: center;
                  padding-right: 10px;
                 }
                 .emailInput input{
                  width: 80%;
                  height: 80%;
                  outline: none;
                  border: none;
                  padding-left: 10px;
                 }
                 .emailInput button{
                  width: 100px;
                  padding-bottom: 7px;
                  padding-top: 7px;
                  border-radius: 6px;
                  background-color: orange;
                  color: white;
                  border: none;
                  cursor: pointer;
                  transition: ease 0.3s;
                 }
                   .emailInput button:hover{
                    transform: scale(0.97);
                    background-color: rgb(204, 133, 1);
                   }
                 .emailInput button:active{
                    transform: scale(0.95);
                    background-color: rgb(110, 72, 1);
                   }
                   .our_subscribe p{
                    color: gray;
                    text-align: center;
                   }
                   .contact{
                    width: 100vw;
                    height: 50vh;
                    background-color: rgb(255, 235, 197);
                    display: flex;
                    justify-content:center ;
                    align-items: center;
                    gap: 100px;
                   }
                   .leftSideContact h2{
                    color: orange;
                   }
                   .leftSideContact{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 270px;
                   }
                   .leftSideContact p{
                    color: gray;
                   }
                   .rightSidecontact{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                   }
                   .rightSidecontact p{
                    color: gray;
                   }
                   #add_lis_div{
                    width: 0px;
                    height: 80vh;
                    position: fixed;
                    top: 55px;
                    right: 5px;
                    background-color: orange;
                    transition: ease 0.5s;
                    overflow-y: auto;
                   }
                   .cart_item{
                    padding: 10px;
                   }
                   .addtocard:hover{
                    transform: scale(0.97);
                    background-color: rgb(173, 113, 1);
                   }
                   .addtocard:active{
                    transform: scale(0.95);
                    background-color: rgb(99, 65, 2);
                   }
                   